{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>


    <div class="logo">
        <img src="{% static 'imgs/logo.png' %}" alt="Logo Maracujina">
    </div>

    <div class="container">
        <h2>Entre para continuar sua <br> <strong>Jornada</strong> </h2>

        <form method="POST">
            {% csrf_token %}    <!--proteção de ataques CSRF-->
            <input type="text" name="username" required>
            <input type="password" name="password" required>
            <h3><a href="https://www.youtube.com/watch?v=uPugn_05Qac&list=RDuPugn_05Qac&start_radio=1">Esqueceu a senha</a></h3>
            <button type="submit">Login</button>
            <h3>Não possui conta? <a href="https://www.youtube.com/watch?v=uPugn_05Qac&list=RDuPugn_05Qac&start_radio=1"><span class="registrar_bold">Registrar</span></a></h3>
        </form>
    </div>
</body>
</html>